root = true

[*]
indent_size = 4
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{go.mod,go.sum,*.go}]
indent_style = tab
indent_size = 4

[{Makefile,Dockerfile,*.yml,*.yaml}]
indent_style = tab
indent_size = 4
